.body{
  font-size: 16px;
}
.container{
  display: flex;
  background-color: #2C3E50;
  color: white;
  width: 100%;
  height: 80px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.firstBox{
  display: flex;
	font-size: 1.25rem;
	font-weight: 700;
  letter-spacing: -2px;
  
}

.secondBox > li {
  display: inline-block;
  padding-left: 20px;
  text-align: center;
  
}

ul{
  float: right;
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  justify-content: flex-end;
}


.startboot{
  width: 100%;
  height: 629px;
  background-color: #18bc9c;
  text-align: center;
  color: white;
  padding-top: 1px;
}

.thirdBox{
	padding-top: 100px;
}

.line{
  background-color: white;
  height: 5px;
  width: 97px;
  margin-top: 13px;
}

.lineBlack{
  background-color: black;
  height: 5px;
  width: 97px;
  margin-top: 13px;
}
.star{
  display: flex;
  justify-content: center;
  margin-right: 3px;
  margin-left: 3px;
}

.fa-star {
	padding-left: 10px;
	padding-right: 10px;
}

h1{
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2{
  font-family: 'Lato', sans-serif;
}

.images{
  align-items: center;
	display: flex;
	justify-content: center;
}

.images img{
  width: 315px;
	height: 228px;
	margin: 10px 13px 17px;
}

.about{
  background-color: #18bc9c;
  display: flex;
  justify-content: center;
  text-align: left;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #fff;
}

  .about1 p, .about2 p {
    height: 188px;
    width: 426px;
}